# MODX Core
/core/*
!/core/sql/
!/core/cache/.htaccess
!/core/cache/index.html
/core/config/config.inc.php
/core/packages/*
/core/export/*
/core/components/*
!/core/components/testsystem/
!/core/elements/

/vendor/*

# MODX Manager
/manager/
/setup/
/connectors/

# Assets
/assets/*
!/assets/components/
/assets/components/*/
!/assets/components/testsystem/
!/assets/templates/
!/assets/uploads/
/assets/uploads/*
!/assets/uploads/test_imports/
/assets/uploads/test_imports/*
!/assets/uploads/test_imports/.htaccess


# Временные файлы
*.log
*.tmp
*~
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
